pyyaml==6.0.2
langchain-huggingface==0.3.1
langchain-community==0.3.29
transformers>=4.53.0
torch==2.4.0+cu121
peft==0.17.0
pandas==2.3.1
sentence-transformers>=3.0.0
bitsandbytes>=0.47.0
numpy>=2.3.2
faiss-cpu==1.12.0
